body {
  margin: 0;
  background-color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  height: 100px;
  background-color: #19a98a;
  color: #fff;
  @include flex;
  .header-title {
    @include flex;
  }
}

#input-note {
  padding: 5px 0;
  @include flex;
  width: 80%;
  margin: auto;
  #note {
    border: 0;
    padding: 0;
    width: 80%;
    height: 50px;
    margin-right: 2px;
    border: 1px solid #19a98a;
    border-radius: 25px;
    padding: 0 15px;
    transition-duration: 0.3s;
    font-size: 18px;
    &:focus {
      font-size: 24px;
      outline: none;
    }
    &:hover {
      font-size: 24px;
    }
  }
  #btn {
    padding: 0;
    border: 0;
    width: 20%;
    height: 50px;
    border: 1px solid #19a98a;
    background-color: #19a98a;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    transition-duration: 0.3s;
    &:focus {
      outline: none;
    }
    &:hover {
      font-size: 24px;
    }
  }
}

#note-wrapper {
  @include flex;
  flex-direction: column;
  // justify-content: flex-start;
  border: 1px solid #19a98a;
  border-radius: 50px;
  width: 80%;
  margin: auto;
  padding: 5px 0;
  background-color: #19a98a;
  .notes {
    background-color: white;
    width: 90%;
    border-radius: 50px;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 5px;
    // @include flex;
    // flex-wrap: wrap;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      margin: 0;
      position: relative;
      padding-left: 15px;
    }

    .delLink {
      position: absolute;
      right: 0;
      border: 0;
      margin-right: 5px;
      background-color: #fff;
      color: white;
      // border-radius: 15px;
      height: 30px;
      width: 30px;
      text-decoration: none;
      font-size: 12px;
      text-align: center;
      background-image: url(../images/delete.png);
      background-repeat: no-repeat;
      background-size: 100%;
      &:hover{
        color:red;
      }
      
    }
  }
}
